<div class="row px-3 px-lg-0">
    <h5 class="d-none d-lg-block">Options</h5>

    <div class="mt-3">
        <b>Preferences: </b>
        <div class="field-checkbox">
            <p-checkbox [(ngModel)]="AlwaysShowHint" [binary]="true" (onChange)="ToggleShowHint()"></p-checkbox>
            <label> Always Show Hint</label>
        </div>

        <div class="field-checkbox">
            <p-checkbox [(ngModel)]="ShowEnglishTranslation" [binary]="true" (onChange)="ToggleShowEnglish()">
            </p-checkbox>
            <label> Show English</label>
        </div>
    </div>

    <div class="mt-3">
        <b>Verb Endings: </b>
        <div *ngFor="let verbType of VerbTypes" class="field-checkbox">
            <p-checkbox name="verbType" value="verbType" [value]="verbType" [(ngModel)]="SelectedVerbTypes" class="my-1"
                (onChange)="SaveVerbEndings()"></p-checkbox>
            <label [for]="verbType"> {{verbType}}</label>
        </div>
    </div>

    <div class="mt-3">
        <b>Pronouns: </b>
        <div class="row">
            <div *ngFor="let pronoun of Pronouns" class="field-checkbox col-6">
                <p-checkbox name="pronoun" value="pronoun" [value]="pronoun" [(ngModel)]="SelectedPronouns" class="my-1"
                    (onChange)="SavePronouns()"></p-checkbox>
                <label [for]="pronoun"> {{pronoun}}</label>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <b>Tenses: </b>
        <div *ngFor="let tense of Tenses" class="field-checkbox">
            <p-checkbox name="tenses" value="tense" [value]="tense" [(ngModel)]="SelectedTenses" class="my-1"
                (onChange)="SaveTenses()"></p-checkbox>
            <label [for]="tense"> {{tense}}</label>
        </div>
    </div>

    <div class="mt-3" *ngIf="showAdditionalOptionsHeader">
        <b class="text-secondary">Additional Options: </b>
    </div>

    <div class="mb-3" *ngIf="includesPasseCompose">
        <b>Passé Composé Auxilary Verbs: </b>
        <div *ngFor="let verbs of AuxilaryVerbs" class="field-checkbox">
            <p-checkbox name="verbs" value="verbs" [value]="verbs" [(ngModel)]="SelectedAuxilaryVerbs" class="my-1"
                (onChange)="PasseComposeCreateAbridgedVerbList(true)"></p-checkbox>
            <label [for]="verbs"> {{verbs}}</label>
        </div>
    </div>

    <div class="mb-3" *ngIf="includesPasseCompose">
        <b>Passé Composé Verbs: </b>
        <div *ngFor="let verbs of PasseComposeOptions" class="field-checkbox">
            <p-checkbox name="verbs" value="verbs" [value]="verbs" [(ngModel)]="SelectedPasseComposeOptions"
                class="my-1" (onChange)="PasseComposeCreateAbridgedVerbList(true)"></p-checkbox>
            <label [for]="verbs"> {{verbs}}</label>
        </div>
    </div>


    <div class="mb-3" *ngIf="includesPresent">
        <b>Present Tense Verbs: </b>
        <div *ngFor="let presentVerbs of PresentTenseOptions" class="field-checkbox">
            <p-checkbox name="presentVerbs" value="presentVerbs" [value]="presentVerbs"
                [(ngModel)]="SelectedPresentTenseOptions" class="my-1"
                (onChange)="PresentTenseCreateAbridgedVerbList(true)"></p-checkbox>
            <label [for]="presentVerbs"> {{presentVerbs}}</label>
        </div>
    </div>

    <div class="mb-3" *ngIf="includesFutur">
        <b>Futur Tense Verbs: </b>
        <div *ngFor="let verbs of FuturTenseOptions" class="field-checkbox">
            <p-checkbox name="presentVerbs" value="presentVerbs" [value]="verbs" [(ngModel)]="SelectedFuturTenseOptions"
                class="my-1" (onChange)="FutureTenseCreateAbridgedVerbList(true)"></p-checkbox>
            <label [for]="verbs"> {{verbs}}</label>
        </div>
    </div>

    <div class="mb-3" *ngIf="includesImparfait">
        <b>Imparfait Verbs: </b>
        <div *ngFor="let option of ImparfaitOptions" class="field-checkbox">
            <p-checkbox name="presentVerbs" value="presentVerbs" [value]="option" [(ngModel)]="SelectedImparfaitOptions"
                class="my-1" (onChange)="ImparfaitCreateAbridgedVerbList(true)"></p-checkbox>
            <label [for]="option"> {{option}} <span *ngIf="option == 'Irregular'">*</span></label>
        </div>

        <small>*Irregular Imparfait verbs include 'être' and irregular present tense verbs, regardless if 'nous' is
            irregular in
            the present tense.
        </small>
    </div>

    <button class="btn primary-btn my-3 float-end" (click)="Reset(true)">Start</button>
</div>







<p-toast></p-toast>