:root {
    --primary: #14B8A6;
    --secondary: rgb(236, 236, 236);
    --tertiary: rgb(255, 136, 0);

    --primaryDark: #118679;
    --tertiaryDark: rgb(202, 108, 0);

}

.textSuccess {
    color: var(--primary);
}

.textDanger {
    color: red;
}

.pointer {
    cursor: pointer;
}

p-checkbox {
    margin-right: 10px;
}

.primary-text {
    color: var(--primary);
}

.secondary-text{
    color:var(--secondary);
}

label {
    font-weight: bold;
    color: var(--primary);
}

.tertiary-text{
    color:var(--tertiary);
}

.primary-bg {
    background-color: var(--primary);
}

.secondary-bg{
background-color: var(--secondary);
}



/*Buttons*/

.primary-btn{
    background-color:var(--primary);
    border-color:var(--primary);
    font-weight: 600;
    color: white;
}

.primary-btn:hover {
    background-color:var(--primaryDark);
    border-color:var(--primaryDark);
    color: white;

}

.primary-btn:active {
    background-color:white;
    border-color:var(--primaryDark);
    color: var(--primaryDark);
}

/* links */
a {
    color:var(--tertiary);
}

a:hover {
    color:var(--tertiaryDark);

}


@media only screen and (max-width: 767px)    {
    h5 {
        font-size: 1rem;
    }
}