:root {
    /* --primary: #14B8A6;
    --secondary: rgb(236, 236, 236);
    --tertiary: rgb(255, 136, 0); 
    
    
    --primaryDark: #118679;
    --tertiaryDark: rgb(202, 108, 0); */

    --primary: #002395;
    --secondary: rgb(236, 236, 236);
    --tertiary: #ED2939;      

    --primaryDark: #021658;
    --tertiaryDark: #a5111d;

    --failed: #a5111d;


}

.textSuccess {
    color: var(--primary);
}

.textDanger {
    animation: shake 0.30s cubic-bezier(.36,.07,.19,.97);
    color: var(--primary);

}

.textDangerReanimate {
    animation: shake2 0.30s cubic-bezier(.36,.07,.19,.97);
    color: var(--primary);

}

.pointer {
    cursor: pointer;
}

p-checkbox {
    margin-right: 10px;
}

.primary-text {
    color: var(--primary);
}

.secondary-text{
    color:var(--secondary);
}

label {
    font-weight: bold;
    color: var(--primary);
}

.tertiary-text{
    color:var(--tertiary);
}

.primary-bg {
    background-color: var(--primary);
}

.secondary-bg{
background-color: var(--secondary);
}



/*Buttons*/

.primary-btn{
    background-color:var(--primary);
    border-color:var(--primary);
    font-weight: 600;
    color: white;
}

.primary-btn:hover {
    background-color:var(--primaryDark);
    border-color:var(--primaryDark);
    color: white;

}

.primary-btn:active {
    background-color:white;
    border-color:var(--primaryDark);
    color: var(--primaryDark);
}

/* links */
a {
    color:var(--tertiary);
}

a:hover {
    color:var(--tertiaryDark);

}

/*Navabar*/
.navbar-brand {
    color: white;
    font-weight: bold;
}

.nav-link {
    color: white;
    font-size: 1.3rem;
}

.nav-link.active {
    color: white;
    font-weight: bold;
}

a.navbar-brand:hover,
.nav-link:hover {
    color: white;
    text-decoration: underline;
}

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--primary);
    background: var(--primary);
}

@keyframes shake {
    10%, 90% {
      color: var(--failed);
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      color: var(--failed);
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      color: var(--failed);
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      color: var(--failed);
      transform: translate3d(4px, 0, 0);
    }
    
  }
  
  @keyframes shake2 {
    10%, 90% {
      color: var(--failed);
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      color: var(--failed);
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      color: var(--failed);
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      color: var(--failed);
      transform: translate3d(4px, 0, 0);
    }
    
  }